
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 18px;
}

a:link, a:visited {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
}

.fake-link {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

nav {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 24px;
    background: #393738;
}

#icon-dropdown {
    height: 16px;
    width: 16px;
}

/*BUTTON*/

    .btn-primary {
        height: 40px;
        padding: 8px 24px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 4px;
        border: none;
        background-color: #88335E;
        color: white;
    }

    .btn-primary:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        filter: opacity(90%);
    }

    .btn-secondary-red {
        color: #88335E;
        height: 40px;
        padding: 8px 24px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 4px;
        border: 2px solid #88335E;
        background-color: #88335d00;
    }

    .btn-secondary-red:hover {
        background-color: #B8859E;
    }

    .btn-secondary-green {
        color: #247B87;
        height: 40px;
        padding: 8px 24px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 4px;
        border: 2px solid #247B87;
        background-color: #247b8700;
    }

    .btn-secondary-green:hover {
        background-color: #7CB0B7;
    }

    .btn-secondary-disable {
        color: #868686;
        height: 40px;
        padding: 8px 24px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 4px;
        border: 2px solid #868686;
        background-color: #247b8700;
    }



/*SECTION : HERO*/
    #container-hero {
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
    }

    #hero {
        max-width: 100%;
        background: #fff;
    }

    #dark-image {
        width: 100%;
        background: #393738ad;;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        padding: 30% 24px;
        color: black;
    }

    #dark-image h1 {
        padding: 24px 0 8px 0;
        background-color: #7cb0b7b6;
        margin: 0;
        display: block;
        text-align: center;
        font-weight: bolder;
        border-top-right-radius: 16px;
        line-height: 1;
    }

    #dark-image h4 {
        background-color: #7CB0B7b6;
        display: block;
        text-align: center;
        padding: 8px 0 24px 0;
        margin: 0;
        border-bottom-left-radius: 16px;
    }







/*SECTION: ABOUT ME*/
    #intro-me img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-bottom: 16px;
    }

    #intro-me {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #intro-me ul {
        margin: 20px 0 0 40px;
        list-style: square;
    }

    #intro-me li {
        padding-bottom: 1%;
    }


/*SECTION: skill*/

    #skills {
        padding: 20px 16px;
        background-color: #247B87;
        color: white;
    }

    #skills h2 {
        text-align: center;
        padding-top: 16px;
    }

    #skills ul {
        margin: 8px auto;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    #skills ul:first-of-type {
        padding-bottom: 24px;
    }

    #skills li{
        padding: 5px 16px; 
    }

    #skills li:last-of-type {
        padding-right: 0px;
    }

    #skills ul:last-of-type {
        border-bottom: none;
    }



/*SECTION : PROJECT*/

    #project {
        margin: 32px 16px;
    }

    #project > div {
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #project img {
        border-radius: 16px;
        margin-bottom: 32px;
        width: 350PX;
    }  

    #brand {
        display: block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #copy {
        display: block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #uxui {
        display: block;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }


/*SECTION : FORM*/

    #contact-me {
        background-color: #FFF5FC;
        padding: 50px 16px;  
    }

    #contact-me h1 {
        color: black;
        margin-bottom: 10px;
    }

    form {
        padding: 80px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .input-form {
        margin-bottom: 20px;
    }

    label {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 4px;
    }

    input {
        font-size: 16px;
        padding: 8px;
        height: 40px;
        border: none;
        border-bottom: 2px solid black;
        background-color: #DBC2CF;
        color: none;
        border-radius: 4px;
        display: block;
    }

    textarea {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        padding: 8px;
        border: none;
        border-bottom: 2px solid black;
        background-color: #DBC2CF;
        color: none;
        border-radius: 4px;
        display: block;
    }

    .error {
        color: #B00020;
        font-size: 16px;
        padding: 4px 0;
        display: none;
    }

    .input-error {
        border-bottom: 2px solid #B00020;
        background-color: #ffffff40;
    }

/*messaggio di conferma*/

    #success-message {
        border: 3px solid #247B87;
        background-color: #e9f2f3;
        text-align: center;
        width: 60%;
        margin: auto;
        display: none;
        border-radius: 16px;
        padding: 16px;
        z-index: 2;
        position: fixed;
        left: 20%;
        top: 25%;
    }

    #success-message img {
        width: 20%;
        height: auto;
        margin: 24px;
    }

    #success-message button {
        margin-top: 40px;
    }

    #success-message h4 {
        margin: 8px auto;
    }

/*SECTION : FOOTER*/

    footer {
        background-color: #393738;
        padding: 50px;
        color: whitesmoke;
        text-align: center;
    }

    .icon-social {
        width: 24px;
        height: auto;
        margin: 0 16px 24px 16px;
    }






/* -----------------versione MOBILE---------------------*/

@media screen and (max-width: 736px){

    /*titoli*/
        h1 {
            font-family: poppins;
            text-align: center;
            font-weight: 600;
            font-size: 40px;
            line-height: 1em;
        }

        h2 {
            font-family: poppins;
            font-size: 32px;
            font-weight: 500;
            line-height: 1em;
        }

        h3 {
            font-family: poppins;
            font-size: 24px;
            padding-top: 24px;
            font-weight: 500;
            margin-bottom: 8px;
            border-bottom: 3px solid #247B87;
            width: fit-content;
        }

        h4 {
            font-family: poppins;
            font-size: 20px;
            font-weight: 300;

        }

        h5 {
            font-size: 16px;
            font-weight: 600;
        }

        body {
            font-size: 16px;
        }


    /*SECTION: MENU*/
        
        #portfolio-menu {
            display: none;
        }

        #icon-hamburger, #icon-close-hamburger {
            height: 24px;
            width: 24px;
        }

        #menu {
            display: none;
            width: 60%;
            height: auto;
            background-color: #393738;
            position: absolute;
            right: 0;
            top: 55px;
            padding: 24px 0px;
        }

        #menu > li {
            display: block;
            margin-right: 40px;
            padding: 16px 0 16px 24px;
        }

        #menu > li:last-of-type {
            margin-right: 0;
            position: relative;
        }

    /*logo*/

        #logo {
            font-size: 16px;
            font-weight: 500;
            padding-top: 4px;
        }

    /*dropdown*/

        #portfolio-menu { /*disposizione dropdown quando funzione openMenu attiva*/
            flex-direction: column;
            position: relative;
            margin-left: 16px;
            margin-top: 8px;
        }

        #portfolio-menu li { /*stile link menù dropdown*/
            list-style: none;
            border-bottom: 1px solid rgba(245, 245, 245, 0.2);
            border-left: 1px solid rgba(245, 245, 245, 0.2);
            padding: 16px 0px 8px 24px ;
        }

    /*SECTION : HERO*/

        #dark-image h1 {
            padding: 16px 0 4px 0;
        }

        #dark-image h4 {
            padding: 4px 0 16px 0 ;
        }

    /*SECTION : ABOUT ME*/

        #about-me {
            margin: 64px 16px;
        }

        #intro-me {
            margin-top: 32px;
        }

    /*SECTION: FORM*/
        
        input {
            width: 300px;
        }

        textarea {
            width: 300px;
            height: 200px;
        }

        #success-message {
            width: 80%;
            left: 10%;
            top: 20%;
        }

        #form-section h4 {
            margin-bottom: 32px;
        }



    /*PAGINE PROGETTI*/
        .project-intro {
            width: 100%;
            color: black;
            background-color: #FFF5FC;
            padding: 50px 32px;
            text-align: center;
            
        }

        .project-intro:first-of-type{
            padding-top: 100px;
        }

        .project-logo {
            width: 150px;
            margin-bottom: 16px;
        }

        .project-image {
            width: 250px;
            margin-bottom: 16px;
        }

        .project-content {
            text-align: left;
        }

        .project-content p{
            line-height: 1.2em;
        }

        .project-content h2 {
            padding-bottom: 8px;
        }

        .project-content ul {
            margin-left: 32px;
        }

        .project-content button {
            margin-top: 16px;
        }    

}





 /*----------------------------versione TABLET---------------------------*/

@media screen and (min-width: 736px) {

    /*titoli*/
        h1 {
            font-family: poppins;
            text-align: center;
            font-weight: 700;
            font-size: 64px;
            line-height: 1em;
        }
        
        h2 {
            font-family: poppins;
            font-size: 48px;
            font-weight: 600;
            line-height: 1em;
        }

        h3 {
            font-family: poppins;
            font-size: 32px;
            padding-top: 24px;
            font-weight: 500;
            margin-bottom: 16px;
            border-bottom: 3px solid #247B87;
            width: fit-content;
        }

        h4 {
            font-family: poppins;
            font-size: 24px;
            font-weight: 300;

        }

        h5 {
            font-size: 16px;
            font-weight: 600;
        }

        body {
            font-size: 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 400;
            line-height: 1.5em;
        }

        .postscriptum {
            font-size: 16px;
            font-weight: 300;
        }


    /*SECTION: MENU*/
        
        #portfolio-menu {
            display: none;
        }

        #icon-hamburger, #icon-close-hamburger {
            height: 24px;
            width: 24px;
        }

        #menu {
            display: none;
            width: 50%;
            height: auto;
            background-color: #393738;
            position: absolute;
            right: 0;
            top: 55px;
            padding: 24px 0px;
        }

        #menu > li {
            display: block;
            margin-right: 40px;
            padding: 16px 0 16px 24px;
        }

        #menu > li:last-of-type {
            margin-right: 0;
            position: relative;
        }

    /*logo*/

        #logo {
            font-size: 20px;
            font-weight: 500;
        }

    /*dropdown*/

        #portfolio-menu { /*disposizione dropdown quando funzione openMenu attiva*/
            flex-direction: column;
            position: relative;
            margin-left: 16px;
            margin-top: 8px;
        }

        #portfolio-menu li { /*stile link menù dropdown*/
            list-style: none;
            border-bottom: 1px solid rgba(245, 245, 245, 0.2);
            border-left: 1px solid rgba(245, 245, 245, 0.2);
            padding: 16px 0px 8px 24px ;
        }


	/*SECTION : ABOUT ME*/

        #about-me {
            margin: 88px 32px;
        }
        
        #intro-me img {
            width: 300px;
            height: 300px;
            margin: 48px 0 24px 0;
        }

    /*SECTION: skill*/

        #skills {
            padding: 20px 32px;
        }

        #skills h2 {
            padding-top: 32px;
        }

        #skills li{
            padding: 20px 30px; 
        }

    /*SECTION : PROJECT*/

        #project {
            margin: 64px 32px;
        }

        #project > div {
            margin: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #project img {
            border-radius: 16px;
            margin-bottom: 40px;
            width: 450px;
        }

    /*SECTION : FORM*/

        #contact-me {
            padding: 50px 32px;  
        }

        #contact-me h1 {
            color: black;
            margin-bottom: 10px;
        }

        .input-form {
            margin-bottom: 20px;
        }

        input {
            width: 500px;
        }

        textarea {
            width: 500px;
            height: 200px;
        }

    /*successMessage*/;

        #success-message {
            position: relative;
            text-align: center;
            display: none;
        }

        #success-message a {
            text-align: center;
            text-decoration: underline;
            color: black;  
        }

        #form-section h4 {
            margin-bottom: 48px;
        }




    /*PAGINE PROGETTI*/

        .title-bar {

            padding: 100px 0 16px 0;

        }

        .project-intro {
            width: 100%;
            color: black;
            background-color: #FFF5FC;
            padding: 50px 32px;
            text-align: center;
        }
        
        .project-intro:first-of-type{
            padding-top: 100px;
        }

        .project-content {
            text-align: left;
        }

        .project-content p {
            line-height: 1.5em;
        }

        .project-content h2 {
            padding-bottom: 16px;
        }

        .project-content button {
            margin-top: 16px;
        }

        .project-image {
            width: 300px;
            margin-bottom: 32px;
        }

        .project-logo {
            width: 300px;
            margin-bottom: 32px;
        }

        .project-content ul {
            margin-left: 32px;
        }

}


 /*----------------------------versione DESKTOP---------------------------*/

@media screen and (min-width: 1280px){

    a:hover {
        text-decoration: underline 3px solid #7CB0B7;
    }
    

    /*SECTION: MENU*/

        #icon-hamburger {
            display: none;
        }

        #menu {
            display: block;
            top: 0;
            right: 0;
            width: auto;
            height: fit-content;
            position: static;
            padding: 0;
        }
        
        #menu > li {
            display: inline;
            margin-right: 48px;
            padding: 0;
        }
        
        #menu > li:last-of-type {
            margin-right: 0;
        }

    /*logo*/

        #logo:hover {
            text-decoration: none;
        }

        #icon-dropdown {
            padding-top: 2px;
        }
        
    /*dropdown*/

        #dropdown:hover #portfolio-menu {
            display: flex;
            flex-direction: column;
            background-color: #393738;
            border-radius: 8px;
            padding: 24px 16px 8px 16px;/*padding: 32px;*/
            position: absolute;
            right: -32px;
            top: 16px; 
        }
        
        #portfolio-menu {
            display: none;
        }
        
        #dropdown {
            position: relative;
            cursor: pointer;
            color: whitesmoke;
        }
        
        #portfolio-menu li {
            border-left: none;
            padding: 8px 16px;
        }
        
        #portfolio-menu li:last-of-type {
            border-bottom: none;
        }

    /*SECTION : ABOUT ME*/

        #intro-me {
            margin: 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        #intro-me img {
            width: 350px;
            height: 350px;
            margin: 24px;
        }

    /*SECTION: skill*/

        #skills {
            padding: 20px 48px;
        }
    
    /*SECTION : PROJECT*/

        #project {
            margin: 80px 48px;
        }

        #project img {
            margin-bottom: 64px;
            width: auto;
        }

        #brand:hover {
            display: block;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: opacity(90%);
        }

        #copy:hover {
            display: block;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: opacity(90%);
        }

        #uxui:hover {
            display: block;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: opacity(90%);
        }

    /*SECTION: FORM*/

        #form-section h4 {
            margin-bottom: 64px;
        }




    /*PAGINE PROGETTI*/
    
        .project-intro {
            display: flex;
            text-align: left;
            flex-direction: row;
            align-items: center;
        }

        .project-image {
            flex: none;
            margin-bottom: 0;
            width: 400px;
        }

        .project-logo {
            margin-bottom: 0;
        }
        
        .project-content {
            display: inline-block;
            margin-left: 32px;
            position: relative;
        }
        
        #contact-me {
            padding: 50px 48px;  
        }

        
}